/* .uploadForm {
    text-align: center;
    border: solid;
    border-color:#0f4c81 ;
    box-shadow: 0px 0px 8px gray;
    width: 40%;
    margin-bottom: 30%;
    padding-bottom: 3%;
    padding-top: 3%;
    margin-left: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    

} */

.allUploadInputs{
    text-align: center;
    border: solid;
    border-color:#0f4c81 ;
    box-shadow: 0px 0px 8px gray;
    width: 40%;
    margin-bottom: 30%;
    padding-bottom: 3%;
    padding-top: 3%;
    margin-left: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#recipeInput, #recipeCategory, #recipeSubmit, #imageUpload, .upload{
    margin-bottom: 5%;
    width: 60%;
    margin-left: 5%;
    font-family: 'Gotu', sans-serif;
}

#pickFile {
    height: 100%;
    font-family: 'Gotu', sans-serif;
}

#recipeInput, #recipeCategory, #recipeSubmit, #imageUpload, #pickFile {
    border: solid;
    border-color: #ffa372 ;
    box-shadow: 0px 0px 8px gray;
}

#recipeSubmit:hover, #imageUpload:hover, #pickFile:hover {
    box-shadow: 0px 8px 16px gray;
}



.upload {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

#recipeSubmittedMessage {
    text-align: center;
    font-family: 'Gotu', sans-serif;
}

#refreshButton {
    text-align: center;
    font-family: 'Gotu', sans-serif;
    margin: auto;
    border: solid;
    border-color: #ffa372 ;
    box-shadow: 0px 0px 8px gray;
}

#refreshButton:hover {
    box-shadow: 0px 8px 16px gray;
}