.nav {
    background-color: #0f4c81;
    border: solid;
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

#webTitle {
    font-size: xx-large;
    color: #ffa372;
    font-family: 'Gotu', sans-serif;
    /* padding-right: 10%; */
    padding-right: 3%;
}

#logout {
    text-decoration: none;
    color: #ffa372;
    font-family: 'Gotu', sans-serif;
    border: solid;
    border-color: #1b262c;
    border-radius: 10%;
    box-shadow: 0px 0px 8px whitesmoke;
    padding-left: 1%;
    padding-right: 1%;
}

#logout:hover {
    box-shadow: 0px 8px 16px whitesmoke;
}

#welcomeName {
    padding-left: 1%;
    font-size: large;
    color: #ffa372;
    font-family: 'Gotu', sans-serif;
}