

.notes {
    background-color: #f5f5f5;
    height: 100vh;
    text-align: center;
}

#tableTitle{
    font-size: xx-large;
}

#table {
  border: 1px solid black; 
  height: 50%;
  width: 50%; 
  margin: auto;
  margin-bottom: 5%;
  background-color: whitesmoke;
  box-shadow: 0px 0px 8px gray;
  /* margin-top: 5%; */
}

table, thead, tbody, tr {
    border: 1px solid black;
}

#measureImage {
    height: 40%;
}
/* .notesBody {
    background-color: #f5f5f5;
    width: 600px;
    margin: 0 auto;
    padding: 0;
  } */
/* 
  .list {
    color: #555;
    font-size: 22px;
    padding: 0 !important;
    width: 500px;
    font-family: courier, monospace;
    border: 1px solid #dedede;
  } */

  /* .list li {
    list-style: none;
    border-bottom: 1px dotted #ccc;
    text-indent: 25px;
    height: auto;
    padding: 10px;
    text-transform: capitalize;
  } */
/* 
  .list li:hover {
    background-color: #f0f0f0;
    -webkit-transition: all 0.2s;
    -moz-transition:    all 0.2s;
    -ms-transition:     all 0.2s;
    -o-transition:      all 0.2s;
  } */

  .lines {
    /* border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px; */
    display: flex;
    flex-direction: column;
    float: left;
    height: 70vh;
    margin-left: 10%;
  }

  /* #List {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }

  .textArea {
      margin: 1%;
      height: 20vh;
      font-family: 'Gotu', sans-serif;
  }

  .saveButton {
      width: 30%;
      font-family: 'Gotu', sans-serif;
  } */